/* CSS file */
@font-face 
{
	src: url("fonts/ARIAL.TTF");
	fontFamily: "ArialEmbedded";
	unicode-range:
		U+0020-U+0040,  
		U+0041-U+005A,  
		U+005B-U+0060,  
		U+0061-U+007A,  
		U+007B-U+007E,  
		/* Japanese: */
		U+3000-U+303f,
		U+3040-U+309f,
		U+30a0-U+30ff,
		U+ff00-U+ffef,
		U+4e00-U+9faf,
		/* Latin I: */
		U+00A1-U+00FF,
		U+2000-U+206F,
		U+20A0-U+20CF,
		U+2100-U+2183;
}

@font-face 
{
	src: url("fonts/ARIALBD.TTF");
	fontFamily: "ArialEmbedded";
	font-weight:bold;
	unicode-range:
		U+0020-U+0040,  
		U+0041-U+005A,  
		U+005B-U+0060,  
		U+0061-U+007A,  
		U+007B-U+007E,  
		/* Japanese: */
		U+3000-U+303f,
		U+3040-U+309f,
		U+30a0-U+30ff,
		U+ff00-U+ffef,
		U+4e00-U+9faf,
		/* Latin I: */
		U+00A1-U+00FF,
		U+2000-U+206F,
		U+20A0-U+20CF,
		U+2100-U+2183;
} 

Application {
	vertical-gap: 0;
	disabled-color: #ffffff;
	disabled-overlay-alpha:0;
	theme-color: #aaaaaa;
	modal-transparency: 0;
	modal-transparency-blur:0;
	font-family:ArialEmbedded;
	font-anti-alias-type:advanced;
	font-size:12;
}

TextInput {
	theme-color: #78a3b2;
	borderColor: #B5CBD3;
	borderStyle: solid;
	borderThickness: 1;
	cornerRadius: 3;
}

Button {
   textIndent: 0;
   paddingLeft: 10;
   paddingRight: 10;
   paddingTop: 5;
   paddingBottom: 5;
   highlightAlphas: 0.13, 0;
   fillAlphas: 1, 1, 0.5, 0.5;
   fillColors: #7bb1c4, #568c9f, #7ec6df, #5aa2bb;
   color: #ffffff;
   textRollOverColor: #ffffff;
   textSelectedColor: #ffffff;
   borderColor: #6090a1;
   themeColor: #6090a1;
}

LinkButton { 
	font-weight:normal;
	skin:ClassReference(null); 
	text-decoration:underline;
	color:#009acc;
	textRollOverColor: #66d1f4;
   	textSelectedColor: #66d1f4;
}

Label { 
	color:#333; 
}

CheckBox {
	font-weight:bold;
	color:#333;
	text-selected-color:#333;
	textRollOverColor: #333;
	fillColors: #ddd, #fff, #ddd, #fff;
	padding-top:1;
	padding-bottom:1;
	borderColor: #ccc;
	themeColor: #888;
	padding-bottom:-4;
}

/*------------------------- 
	Popup window
--------------------------*/
TitleWindow {
   borderColor: #ffffff;
   borderAlpha: 1;
   borderThicknessLeft: 10;
   borderThicknessTop: 10;
   borderThicknessBottom: 10;
   borderThicknessRight: 10;
   roundedBottomCorners: true;
   horizontal-gap:0;
   highlightAlphas: 0.33, 0;
   headerColors: #e5ecf0, #d4dee2;
   footerColors: #edf1f3, #d4dee2;
   dropShadowEnabled: true;
   shadowDistance: 0;
   shadowDirection: center;
   titleStyleName: "titleWindowTitle";
}

.titleWindowTitle{
	color: #78a3b2;
	fontSize: 16;
	font-weight:bold;
}

